/*
* ABOUT US
*/
.story {
  padding: 4.5rem 0;
  -webkit-box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.11);
  box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.11);
  z-index: 9;
  position: relative;
}
.story_wrapper {
  max-width: 980px;
  margin: 0 auto 5rem;
  padding: 3rem 5rem;
  border-radius: 4rem;
  -webkit-box-shadow: inset 0px 0px 8px 10px rgba(0, 0, 0, 0.11);
  box-shadow: inset 0px 0px 8px 10px rgba(0, 0, 0, 0.11);
  background-color: var(--primary-light);
}
.story_title {
  margin: 0 0 2.5rem;
  font-size: 4rem;
  line-height: 4rem;
  color: var(--primary-dark-c);
}
.story_text {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-style: italic;
  color: var(--primary-dark);
  margin: 0 0 2.5rem;
}
.story_comment {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  font-style: italic;
  color: var(--primary-dark-c);
}
.story_comment_last {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 300;
  font-style: italic;
  color: var(--primary-dark);
}

/*
* TEAM
*/
.teams {
  padding: 6.5rem 0 4rem;
  background-color: var(--white-c);
}
.team_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 2.5rem;
}
.team {
  background-color: var(--primary-dark-b);
  max-width: 55%;
  width: 100%;
  height: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 2.5rem;
}
.team-left {
  padding-left: calc(calc(100% - 980px) / 2);
  padding-right: 3.75rem;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  border-top-right-radius: 310px;
  border-bottom-right-radius: 310px;
}
.team-right {
  padding-right: calc(calc(100% - 980px) / 2);
  padding-left: 3.75rem;
  -ms-flex-item-align: end;
  align-self: flex-end;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-top-left-radius: 310px;
  border-bottom-left-radius: 310px;
}
.team_body {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.team-left .team_body {
  padding-left: 20%;
}
.team-right .team_body {
  padding-right: 20%;
}
.team_image {
  position: absolute;
  width: 70%;
  bottom: -55px;
}
.team-left .team_image {
  left: -25%;
}
.team-right .team_image {
  right: -32%;
}
.team_meta {
  background-color: var(--gray);
  height: 200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.team-left .team_meta {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-right: 2rem;
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
}
.team-right .team_meta {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 2rem;
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
}
.team_name {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  font-style: italic;
  color: var(--primary);
  text-transform: uppercase;
  position: static;
  z-index: 99;
}
.team_position {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: normal;
  font-style: italic;
  color: var(--primary-dark);
}

/*
* DIRECTORS
*/
.directors_title {
  margin: 0 0 5rem;
}
.directors {
  padding: 4.5rem 0;
}
.directors_wrapper {
  max-width: 768px;
  margin: 0 auto;
}
.director {
  background-color: var(--primary);
  margin: 0 0 2rem;
  -webkit-box-shadow: inset 0px 0px 8px 10px rgba(0, 0, 0, 0.11);
  box-shadow: inset 0px 0px 8px 10px rgba(0, 0, 0, 0.11);
  padding: 2rem 2rem 2rem 10rem;
  border-radius: 120px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 0 4rem;
}
.director_right {
  padding: 2rem 10rem 2rem 2rem;
}
.director_right .director_image {
  right: 0;
  left: auto;
}
.director_image {
  position: absolute;
  font-size: 0;
  clear: both;
  max-width: 175px;
  left: 0;
}
.director_image img {
  overflow: hidden;
  border-radius: 100%;
  max-width: 100%;
  background-color: #d7d8da;
  border: 8px solid var(--primary-dark-c);
}
.director_meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.director_name {
  font-size: 4rem;
  line-height: 3rem;
  font-weight: bold;
  font-style: italic;
  color: var(--white);
  margin: 0 0 0.875rem;
  text-transform: uppercase;
  text-align: right;
  text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.4);
}
.director_name-small {
  font-size: 2.8rem;
  line-height: 2.8rem;
}
.director_description {
  font-size: 0.75rem;
  line-height: 0.75rem;
  font-weight: normal;
  font-style: italic;
  color: var(--white);
  margin: 0 0 0.5rem;
  text-align: right;
}
.director_position {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 300;
  font-style: italic;
  color: var(--white);
  text-align: right;
  text-transform: uppercase;
}

@media screen and (max-width: 1280px) {
  .team {
    max-width: 65%;
    margin: 0 0 3.5rem;
  }
  .team_image {
    position: absolute;
    width: 55%;
    bottom: -53px;
  }
  .team-left .team_image {
    left: 0%;
  }
  .team-right .team_image {
    right: -5%;
  }
  .story_title {
    margin: 0 0 2.5rem;
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  .story_wrapper {
    padding: 2rem 2.5rem;
    border-radius: 2.5rem;
  }
  .story_text,
  .story_comment,
  .story_comment_last {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
@media screen and (max-width: 980px) {
  .directors {
    padding: 2rem 0;
  }
  .director {
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 160px 1fr;
    grid-template: 1fr / 160px 1fr;
  }
  .director_name {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .teams {
    padding: 3.5rem 0 0;
  }
  .team {
    max-width: calc(100% - 2rem);
    border-radius: 310px;
    height: auto;
  }
  .team_image {
    width: 30%;
  }
  .team-left .team_body,
  .team-right .team_body {
    padding: 0;
    overflow: hidden;
    border-radius: 200px;
  }
  .team-left,
  .team-right {
    padding: 1.5rem;
  }
  .team-left .team_meta,
  .team-right .team_meta {
    border-radius: 200px;
  }
  .team-left .team_image,
  .team-right .team_image {
    top: 0;
  }
  .team-left .team_image {
    left: 5%;
  }
  .team-right .team_image {
    right: 5%;
  }
}

@media screen and (max-width: 768px) {
  .team_image {
    width: 35%;
  }
  .team-left,
  .team-right {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .director {
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 130px 1fr;
    grid-template: 1fr / 130px 1fr;
    padding: 1rem;
    border-radius: 32px;
  }
}
@media screen and (max-width: 580px) {
  .team_name {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  .team_position {
    font-size: 1rem;
    line-height: 1rem;
  }
  .team-left,
  .team-right {
    padding: 1rem;
  }
  .team_image {
    width: 45%;
  }
  .team-left .team_image {
    left: 0;
  }
  .team-right .team_image {
    right: 0;
  }
}
