/*
* BANNER
*/
.banner_home {
  background-color: var(--white);
  padding: 5.625rem 0 0;
  position: relative;
}
.banner_home_wrapper {
  text-align: center;
}
.banner_home_decoration-left {
  position: absolute;
  left: 0;
  top: 90px;
}
.banner_home_decoration-right {
  position: absolute;
  right: 0;
  top: 45px;
}
.banner_home_image-top {
}
.banner_home_action {
  max-width: 680px;
  margin: 0 auto;
  height: 0px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
}
.banner_home_image-bottom {
}
.banner_home_image_bottom img {
  max-width: 100%;
  width: 100%;
}
.banner_home_image-bottom img {
  max-width: 100%;
  width: 100%;
}
.banner_page_links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  position: absolute;
  right: 0;
  top: 2rem;
}
.banner_page_text {
  font-size: 0.875rem;
  line-height: 0.875rem;
  font-weight: bold;
  color: var(--primary-dark-b);
  font-style: italic;
}
.banner_page_flags {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--white-c);
  padding: 1rem;
  -webkit-box-shadow: inset 3px 7px 12px 5px rgba(0, 0, 0, 0.1);
  box-shadow: inset 3px 7px 12px 5px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 54px;
  border-bottom-left-radius: 54px;
}
.banner_page_flags a {
  font-size: 0;
}
.banner_page_flags img {
  width: 74px;
  height: 74px;
  transition: all 0.25s ease-in-out;
}
.banner_page_flags a:hover img {
  transform: scale(1.05);
}
.banner_home_action_bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
* IMPACT
*/
.ourImpact {
  padding: 4rem 0;
  background-color: var(--white-c);
}
.impacts {
  max-width: 880px;
  margin: 0 auto 5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr 5rem 1fr;
  grid-template: 1fr / 1fr 1fr;
  gap: 1.5rem 5rem;
}
.impacts_action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.impact {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 160px 1rem 1fr;
  grid-template: 1fr / 160px 1fr;
  gap: 1rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.impact_four {
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 106px 60px 1fr;
  grid-template: 1fr / 106px 60px 1fr;
}
.impact_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.impact_icon img {
  max-height: 160px;
  object-fit: contain;
  object-position: center;
  width: 100%;
}
.impact_info {
}
.impact_number {
  margin: 0 0 0.25rem;
}
.impact_title {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: bold;
  font-style: italic;
  color: var(--primary);
  margin: 0 0 0.25rem;
}
.impact_description {
  font-size: 1rem;
  line-height: 22px;
  font-style: italic;
  color: var(--primary);
}
.impact_description strong {
  font-weight: 600;
}
.impact_cities {
}
.impact_city {
  font-size: 0.75rem;
  font-style: italic;
  list-style: initial;
  color: var(--primary);
}
/*
* DEAL
*/
.problems_deal {
  padding: 2.75rem 0 4rem;
  background-color: var(--white);
  -webkit-box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.05);
  position: relative;
}
.problems {
  max-width: 970px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr 1.25rem 1fr 1.25rem 1fr 1.25rem 1fr;
  grid-template: 1fr / repeat(4, 1fr);
  gap: 1.25rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.problem {
  background-color: var(--white);
  border-radius: 48px;
  -webkit-box-shadow: 0px 7px 12px 5px rgba(0, 0, 0, 0.11);
  box-shadow: 0px 7px 12px 5px rgba(0, 0, 0, 0.11);
  padding: 1.5rem;
  text-align: center;
}
.problem_image {
  max-width: 90px;
  min-height: 90px;
  object-fit: contain;
  object-position: center;
  margin-bottom: 0.5rem;
}
.problem_number {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  font-style: italic;
  color: var(--primary);
  margin: 0 0 1rem;
}
.problem_description {
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-style: italic;
  color: var(--primary);
}

/*
* MISSION
*/
.mission {
  padding: 5rem 2rem 2rem;
  background-color: var(--white);
}
.mission_wrapper {
  background-color: var(--white-c);
  -webkit-box-shadow: inset 3px 7px 12px 5px rgba(0, 0, 0, 0.1);
  box-shadow: inset 3px 7px 12px 5px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mission_title {
  color: var(--white);
  background-color: var(--primary-dark-b);
  font-weight: bold;
  font-style: italic;
  padding: 2rem 4rem;
  border-radius: 4rem;
  margin: 0 0 2.5rem;
}
.mission_text {
  max-width: 880px;
  margin: 0 0 2.5rem;
  text-align: center;
  font-size: 2rem;
  line-height: 2.5rem;
  color: var(--primary);
  font-style: italic;
}
.mission_image {
  width: 100%;
}
.banner_home_action_volunteer,
.banner_home_image-top-mobile,
.banner_home_image_bottom_mobile {
  display: none;
  visibility: hidden;
}

.banner_home_tennis {
  position: absolute;
  z-index: 8;
  left: 2rem;
  top: 2rem;
}
.banner_home_tennis a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 0.75rem;
  background-color: #e6f741 !important;
  color: #06284f !important;
  -webkit-box-shadow: 0 0 12px 5px rgba(0, 0, 0, 0.11);
  box-shadow: 0 0 12px 5px rgba(0, 0, 0, 0.11);
}
.banner_home_tennis img {
  max-width: 1.5rem;
}
.mission_image_tablet,
.mission_image_mobile,
.logo_mobile,
.menu_page {
  display: none;
}

@media screen and (max-width: 1280px) {
  .banner_home_action_bottom {
    padding: 3rem 0;
  }
  .mission_image_tablet {
    display: block;
    max-width: 100%;
  }
  .mission_image {
    display: none;
  }
  .banner_home {
    overflow: hidden;
    padding-top: 8rem;
    -webkit-box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.05);
    position: relative;
    z-index: 6;
  }
  .banner_home_decoration-left,
  .banner_home_decoration-right {
    max-width: 200px;
  }

  .banner_home_image-top-mobile img {
    max-width: 100%;
  }
  .banner_home_image-bottom {
    max-width: 100%;
    padding: 15vh 0 0 0;
  }
  .banner_home_image-bottom img {
    max-width: 100%;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
  }
  .banner_home_action_volunteer {
    display: inline-block;
    visibility: visible;
  }
  .banner_home_action {
  }
  #splideHome .splide__arrows {
    display: none;
    visibility: hidden;
  }
  .brand_image {
    width: calc(100% - 1rem);
    -o-object-fit: contain;
    object-fit: contain;
  }
  .problems_deal {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: var(--white-c);
  }
  .ourImpact {
    background-color: var(--white);
    -webkit-box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.05);
  }
  .impacts {
    gap: 1.5rem 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .testimonial_wrapper {
    max-width: 469px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 980px) {
  .banner_home_tennis a {
    font-size: 1.25rem;
    line-height: 1.25rem;
  }
  .banner_home_tennis img {
    max-width: 1.25rem;
  }
  .video_explanation_wrapper {
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr;
    grid-template: 1fr/1fr;
    place-items: center;
    margin: 0 0 6rem;
  }
  .video_explanation_left br {
    display: none;
  }
  .video_explanation_left {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
  .video_explanation_right {
    max-width: calc(100% - 10rem);
    width: 100%;
  }
  .video_verse {
    max-width: calc(100% - 10rem);
    width: 100%;
    position: static;
    border-radius: 2rem;
  }
  .testimonial,
  .video_explanation {
    padding: 3.75rem 0;
  }
}

@media screen and (max-width: 768px) {
  .banner_page_links,
  .impacts_action,
  .banner_home_image-top,
  .banner_home_image_bottom,
  .mission_image_tablet,
  .logo_desktop {
    display: none;
    visibility: hidden;
  }
  .banner_home_image-top-mobile,
  .banner_home_image_bottom_mobile {
    display: block;
    visibility: visible;
    max-width: calc(100% - 3rem);
    width: calc(100% - 3rem);
    margin: 0 auto;
  }
  .mission_image_mobile {
    display: block;
    background-color: var(--white);
    -webkit-box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.05);
    position: relative;
  }
  .logo_mobile,
  .menu_page {
    display: block;
  }
  .menu_page {
    width: calc(100% - 4rem);
    border-top: 1px solid #91f7b7;
    padding: 1.5rem 0 0;
  }
  .menu_page_text {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: bold;
    color: var(--primary-dark-b);
    font-style: italic;
    text-align: center;
    margin: 0 0 1rem;
  }
  .menu_page_links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .menu_page_links a {
    display: block;
  }
  .mission_image_mobile img {
    max-width: 100%;
  }
  .banner_home_image_bottom_mobile img {
    max-width: 100%;
  }
  .banner_home_action {
    height: auto;
    justify-content: center;
    margin: -25px 0 1rem;
  }
  .banner_home_action_bottom {
    padding: 1.5rem 0 3rem;
  }
  .banner_home {
    padding: 3.5rem 0 0;
  }
  .banner_home_image-bottom img {
    -webkit-transform: scale(1.75);
    -ms-transform: scale(1.75);
    transform: scale(1.75);
  }
  .banner_home_decoration-left,
  .banner_home_decoration-right {
    max-width: 125px;
    opacity: 0.6;
  }
  .ourImpact {
    padding: 2.75rem 0;
  }
  .impacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 2rem;
  }
  .impact {
    max-width: 350px;
    width: 100%;
  }
  .problems {
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr;
    grid-template: 1fr / 1fr;
    gap: 2rem;
    place-items: center;
  }
  .problem {
    gap: 1rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 400px;
    width: 100%;
    border-radius: 24px;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 80px 1rem 110px 1rem 1fr;
    grid-template: 1fr / 80px 110px 1fr;
  }
  .problem_number {
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
  }
  .problem_number_value {
    font-weight: bold;
    font-size: 2rem;
    line-height: 2rem;
  }
  .problem_description {
    text-align: left;
  }
  .problem_image {
    width: 80px;
    height: 80px;
  }
  .problems_deal {
    padding: 4rem 0;
  }
  .testimonial_item {
    width: 100%;
  }
  .mission {
    padding: 0;
  }
  .mission_wrapper {
    padding: 0 2rem;
    box-shadow: none;
  }
  .mission_title {
    margin: -3.35rem 0 2.5rem;
  }
  .header .logo_mobile {
    position: relative;
    height: 54px;
  }
  .header .logo_mobile img {
    position: absolute;
    width: 215px;
    left: 0;
  }
}
@media screen and (max-width: 580px) {
  .banner_home_tennis {
    margin: 0 auto;
    right: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .video_explanation_right,
  .video_verse {
    max-width: 100%;
  }
  .video_right_image {
    left: 0px;
    bottom: 0px;
    width: 80px;
  }
  .video_explanation_wrapper {
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr;
    grid-template: 1fr/1fr;
    place-items: center;
    margin: 0 0 3rem;
  }
  .banner_home_image-bottom img {
    -webkit-transform: scale(1.6);
    -ms-transform: scale(1.6);
    transform: scale(1.6);
  }
  .banner_home_action {
    margin: -10px 0 2rem;
  }
  .banner_home_image-bottom {
    padding: 12vh 0 0 0;
  }
  .header .logo_mobile img {
    width: 165px;
  }
  .mobile_menu {
    height: 1.5rem;
  }
}
